
<div class="gmail_quote">
	<div>
		<h2>Reset KnowledgeBox password</h2>
		We got a password reset request for your email account.
  		<br><br>Click the link below to set a new password.<br>
		<%= link_to user_password_reset_url(@user.password_reset_token), user_password_reset_url(@user.password_reset_token) %><br><br>
		Password reset was trigered from this IP Address: <%= @user.password_reset_from_ip_address %><br><br>

		<div style="font-size:12px; color:#393939;">If you didn't try to reset your password, ignore this email.
		</div>
		<img alt="" width="1" height="1" border="0" style="min-height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important">
		<div class="yj6qo">
		</div>
		<div class="adL"></div>
	</div>
	<div class="adL">
	</div>
</div>