<h1>Activate KnowledgeBox</h1>

<p>Please confirm your email address to activate your account.</p><br>

<%= link_to 'Confirm Email', @user_verification_email_processing_url %><br>

<p>Copyright &#169; Knowledgbox. All rights reserved.</p>

