<% provide(:page_title, 'Article Edit History | ' +  @article.article_title) %>


<div class="row row-dashboard">
	<div class="container">
		<h1>Article Edit History</h1>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<ul class="list-unstyled boxes-list">
				<% if @article_edit_history != nil %>
					<li class="small description-box">Edited By&nbsp;&nbsp;
						<div class="pull-right">Edited At</div>
					</li>
					<% @article_edit_history.each do |article_edit_history| %>
						<% if User.find_by_id(article_edit_history.article_edited_by) != nil %>
							<li class="boxes-list-content"><%= link_to User.find_by_id(article_edit_history.article_edited_by).user_name, user_home_path %><div class="pull-right date"><%= article_edit_history.article_edited_at.strftime("%a, %b %d %Y %l:%M %p") %></div></li>
						<% end %>
					<% end %>
    			<% else %>
      				<p> There is no edit history for this article</p>
    			<% end %>
			</ul>
		</div>
	</div>
</div>
