<p>Dear Admin,</p>

<p>A new user (<%= @user.name.titleize %>) has registered. The account is pending your approval:</p>
<p><%= link_to people_organisation_url, people_organisation_url %></p>

<p>Regards,</p>
<p>Team Information Box</p>