<p>Dear <%= @user.name.titleize %>,</p>

<p><%= "#{@user.admin? ? 'You have been granted administrator privileges' : 'Your administrator privileges has been revoked'}." %> by administrator.</p>


<p>Regards,</p>
<p>Team Information Box</p>