<div class="col-lg-3">
		<div class="user-settings-sidebar list-group user-organisation-settings-sidebar">
			<b class="full-name-header list-group-item list-header-account"><%= current_user.name %></b>
			<%= link_to "Profile", edit_user_registration_url, :class => "list-group-item" %>
		</div>
  
</div>
