// Place all the styles related to the organisations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#organisation_new_form {
	margin:auto auto 10px auto!important;
	width: 650px;
	background-color: white;
	border: 1px solid grey;
	-webkit-border-radius: 2px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 25px;
	
	.Submit {
	 	text-align: right;
	}
}
#policy_statement{
	margin:auto auto 10px 300px!important;
}