<div class="modal fade" id="user-feedback" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="color: black;">Great, we love feedback!</h4>
      </div>
      <div class="modal-body">
        <%= form_tag(user_feedback_create_path, :method => 'post', :class => "kbapp-form") do %>
          <%= text_area_tag "user_feedback[user_feedback]", '', :class => "form-control modal-field user-feedback-textarea", :required => true, :size => "10x10" %>
          <br />
          <span>
            <%= submit_tag "Submit", class: "btn btn-success"  %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!-- User Feedback Modal Code End-->